/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    display: inline-block;
    margin: 24px;
    padding: 24px;
    height: 200px;
    width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#post-yellow {
    background-color: rgb(253, 241, 136);
}
#post-green {
    background-color: rgb(161, 243, 177);
}
#post-blue {
    background-color: rgb(176, 214, 249);
}
#post-pink {
    background-color: rgb(251, 197, 241);
}
h4 {
    text-decoration: underline;
}