/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.narrow {
    width: 200;
    background-color: yellow;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}
#bulletin-board {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
