/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#bulletin-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-it {
    margin: 24px;
    padding: 12px;
    height: 200px;
    width: 200px;
    font-family: "Indie Flower", cursive;
    background-color: rgb(253, 241, 136);
}

.post-it h4 {
    text-align: center;
    text-decoration: underline;
}

#to-do,
#upcoming {
    background-color: rgb(161, 243, 177);
}

#post-malone,
#mehoy {
    background-color: rgb(176, 214, 249);
    text-align: center;
}

#quote,
#lion {
    background-color: rgb(251, 197, 241);
    text-align: center;
}