@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    position: sticky;
    top: 0px;
}

/* CLIENT ONE */

#navbar-1 {
    background: linear-gradient(to bottom, rgba(65, 178, 65, 0.62), #477b8e);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px white solid;
}

#navbar-1 h2 {
    color: white;
    font-family: "Playwrite IS", cursive;
}

#navbar-1 a {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin-right: 5vw;
}

#navbar-1 a:hover {
    color: #0e758c;
}

/* CLIENT 2 */

#navbar-2 {
    background: 
        linear-gradient(to right, rgb(247, 190, 84), #e04242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

#navbar-2 h2 {
    color: rgb(190, 54, 54);
    font-size: 28px;
    font-family: "Playwrite IS", cursive;
    margin: 0px 24px;
}

#navbar-2 a {
    text-decoration: none;
    color: rgb(190, 54, 54);
    padding: 16px;
    margin-right: 5vw;
}

#navbar-2 a:hover {
    color: #0e758c;
}

.cta-button {
    background-color: rgb(247, 190, 84);
    margin: 0px 24px;
    border-radius: 60px;
}

/* CLIENT 3 */

#navbar-2 {
    background: 
        linear-gradient(to right, rgb(247, 190, 84), #e04242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

#navbar-2 h2 {
    color: rgb(190, 54, 54);
    font-size: 28px;
    font-family: "Playwrite IS", cursive;
    margin: 0px 24px;
}

#navbar-2 a {
    text-decoration: none;
    color: rgb(190, 54, 54);
    padding: 16px;
    margin-right: 5vw;
}

#navbar-2 a:hover {
    color: #0e758c;
}

.cta-button {
    background-color: rgb(247, 190, 84);
    margin: 0px 24px;
    border-radius: 60px;
}

