@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    position: sticky;
    top: 0px;
}

/* CLIENT 1 */

#navbar-1 {
    background: linear-gradient(to bottom, rgba(65, 178, 65, 0.62), #477b8e);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 10px white solid;
}

#navbar-1 h2 {
    color: white;
    font-family: "Playwrite IS", cursive;
}

#navbar-1 a {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin-right: 5vw;
}

#navbar-1 a:hover {
    color: #0e758c;
}

/* CLIENT 2 */

#navbar-2 {
    background: linear-gradient(to right, rgb(247, 190, 84), #e04242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

#navbar-2 h2 {
    color: rgb(190, 54, 54);
    font-size: 28px;
    font-family: "Dancing Script", cursive;
    margin: 0px 24px;
}

#navbar-2 a {
    text-decoration: none;
    color: rgb(190, 54, 54);
    padding: 10px;
    margin-right: 5vw;
}

#navbar-2 a:hover {
    color: rgb(247, 190, 84);
}

#navbar-2 .cta-button {
    background-color: rgb(247, 190, 84);
    border-radius: 60px;
    border: solid 3px rgb(247, 190, 84);
}

#navbar-2 .cta-button:hover {
    color: rgb(247, 190, 84);
    background-color: transparent;
}

/* CLIENT 3 */

#main-nav {
    background: rgb(241, 131, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

#main-nav h2{
    color: black;
    font-size: 28px;
    font-family: "Ga Maamli", sans-serif;
    margin: 0px 24px;
}

#main-nav a {
    text-decoration: none;
    color: black;
    padding: 16px;
    margin-right: 5vw;
}

#main-nav a:hover,
#bottom-nav a:hover {
    color: purple;
}

#main-nav .cta-button {
    background-color: rgb(0, 0, 0);
    color: rgb(237, 155, 48);
    margin: 0px 24px;
    border-radius: 20px;
    border: solid 2px;
}

#main-nav .cta-button:hover {
    background-color: purple;
    color: black;
}

#top-nav {
    background-color: black;
    color: rgb(237, 155, 48);
    display: flex;
    justify-content: center;
}

#bottom-nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

#bottom-nav a {
    color: rgb(237, 155, 48);
    text-decoration: none;
    margin: 0px 24px;
}

