/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.display-space {
    text-align: center;
    margin-top: 8vh;
}

#denali {
    margin: 0px 36px;
    border: 5px solid darkblue;
    padding: 6px;
    background-color: lightblue;
}

#spring-bash {
    margin: 0px 12px;
    border: solid skyblue 10px;
}