/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-2 {
    display: flex;
    flex-direction: column;
    margin: 24px;
    max-width: 350px;
    background-color: white;
    border-radius: 45px;
    padding: 20px;
}

.card-style-2 h2 {
    text-align: center;
    margin: 0px;
}

.card-style-2 p {
    text-align: center;
}

.card-style-2 img {
    width: 80%;
    border-radius: 50%;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    padding: 26px;
}

.animagram-header{
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.animagram-footer {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-top: 38px;
    padding-bottom: 5px;
}