/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-2 {
    display: flex;
    flex-direction: column;
    margin: 24px;
    max-width: 350px;
    background-color: white;
    border-radius: 45px;
    padding: 24px;
}

.card-style-2 h2 {
    text-align: center;
    margin: 10px;
}

.card-style-2 p {
    text-align: center;
}

.card-style-2 img {
    width: 80%;
    border-radius: 50%;
    padding: 24px;
}