#style-1-heading {
    text-align: center;
    font-family: cursive;
}
#style-1-block-1 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #4184CC;
}
#style-1-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #9ECAF5;
}
#style-1-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #BDDEEC;
}
#style-2-heading {
    text-align: center;
    font-family: cursive;
}
#style-2-block-1 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #A52A2A;
}
#style-2-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #EC6816;
}
#style-2-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #FA9943;
}
#style-3-heading {
    text-align: center;
    font-family: cursive;
}
#style-3-block-1 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #F3A8BC;
}
#style-3-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #FFF1A6;
}
#style-3-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #B4F9A5;
}