#style-1-block-1 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #4184CC;
}
#style-1-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #9ECAF5;
}
#style-1-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #BDDEEC;
}