#palette-1-heading {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#palette-1-color-1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #4184CC;
}
#palette-1-color-2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #9ECAF5;
}
#palette-1-color-3 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #BDDEEC;
}
#palette-2-heading {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#palette-2-color-1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #A52A2A;
}
#palette-2-color-2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #EC6816;
}
#palette-2-color-3 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #FA9943;
}
#palette-3-heading {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#palette-3-color-1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #F3A8BC;
}
#palette-3-color-2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #FFF1A6;
}
#palette-3-color-3 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    background-color: #B4F9A5;
}