@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Righteous&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    margin: 0px auto;
    max-width: 1200px;
    min-width: 300px;
    background-color: aliceblue;
}

/* NAVBAR */

#header {
    border: aliceblue 3px solid;
}

#header a {
    text-decoration: none;
}

#top-nav {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    background-color: #c6cbec;
}

#top-nav a {
    padding-left: 5vw;
    color: midnightblue;
}

#top-nav a:last-child {
    padding-right: 24px;
}

#top-nav a:hover{
    text-decoration: underline;
}

#bottom-nav a:hover {
    color: aliceblue;
}

#top-nav #logo {
    margin-right: auto;
    padding-left: 24px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Aclonica", sans-serif;
}

#bottom-nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: #a0aadf;
    border-top:aliceblue 3px solid;
}

#bottom-nav a {
    color: midnightblue;
}

/* HERO */

#hero {
    background-image: url(../images/hero.jpg);
    height: 50vh;
    max-width: 750px;
    background-size: cover;
    object-fit: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    padding: 36px;
    margin: 24px auto;
}

#hero h1 {
    color: midnightblue;
    font-size: 30px;
    font-family: "Aclonica", sans-serif;
}

#hero .cta-button {
    text-decoration: none;
    padding-left: 5vw;
    background-color: #c6cbec;
    max-width: 100px;
    padding: 8px;
    text-align: center;
    border: solid 3px #7988d2;
    color: midnightblue;
}

#hero .cta-button:hover {
    background-color: #7988d2;
}

/* SPOTLIGHT*/

.side-by-side {
    display: flex;
    align-items: center;
    margin: 24px auto;
    height: 40vh;
    max-width: 750px;
    gap: 48px;
}

.image-container {
    flex: 1;
    padding-left: 8vw;
}

.image-container img {
    width: 300px;
    height: 30vh;
    object-fit: cover;
    background-color: #c6cbec;
    border: solid 3px #7988d2;
    padding: 12px;
}

.text-container {
    flex: 1;
    margin-bottom: 6vh;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-container h3 {
    margin-top: 7vh;
    color: midnightblue;
}

.text-container a {
    text-decoration: none;
    color: midnightblue;
}

.text-container .cta-button {
    color: midnightblue;
    background: #c6cbec;
    display: inline-block;
    border: #7988d2 3px solid;
    text-decoration: none;
    padding: 8px;
    margin-top: 12px;
}

.cta-button:hover {
    background-color: transparent;
}

/* CARDS */

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 24px;
}

h2 {
    text-align: center;
    color: midnightblue;
    font-family: "Aclonica", sans-serif;
    margin-top: 36px;
    margin-bottom: 0px;
}

.card {
    background-color: #c6cbec;
    border: solid 3px #7988d2;
    padding: 18px 12px;
    flex: 1;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 18px;
}

.card a {
    text-decoration: none;
    color: midnightblue;
    background-color: #c6cbec;
    padding: 8px;
    border: 3px #7988d2 solid;

}

.card a:hover {
    background-color: #7988d2;
}   

/* MEDIA BREAKPOINT */

@media screen and (max-width: 800px) and (min-width: 45px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #bottom-nav {
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    #bottom-nav a {
        padding: 8px;
    }

    .image-container img {
        width: 200px;
        height: 30vh;
    }
}

@media screen and (max-width: 450px) {

    #top-nav a {
        font-size: 16px;
        padding: 0px 12px;
    }

    #top-nav {
        display: grid;
        margin-left: auto;
        justify-content: center;
    }

    #top-nav #logo {
        margin-right: 0px;
        padding-left: 0px;
    }


    #bottom-nav {
        grid-template-columns: 1fr 1fr;
    }

    #hero h1 {
        font-size: 24px;
    }

    #hero {
        height: 40vh;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .side-by-side {
        gap: 24px;
    }

    .card {
        width: 300px;
        margin: 0px auto;
    }

    .card img {
        height: 250px;
    }

}