@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Righteous&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    margin: 0px auto;
    max-width: 1200px;
    min-width: 300px;
    background-color: aliceblue;
}

/* NAVBAR */

#header {
    border: aliceblue 3px solid;
}

#header a {
    text-decoration: none;
}

#top-nav {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    background-color: #c6cbec;
}

#top-nav a {
    padding-left: 5vw;
    color: midnightblue;
}

#top-nav a:last-child {
    padding-right: 24px;
}

#top-nav a:hover{
    text-decoration: underline;
}

#bottom-nav a:hover {
    color: aliceblue;
}

#top-nav #logo {
    margin-right: auto;
    padding-left: 24px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Aclonica", sans-serif;
}

#bottom-nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: #a0aadf;
    border-top:aliceblue 3px solid;
}

#bottom-nav a {
    color: midnightblue;
}

/* HERO */

#hero {
    background-image: url(../images/hero.jpg);
    height: 50vh;
    max-width: 750px;
    background-size: cover;
    object-fit: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    padding: 36px;
    margin: 24px auto;
}

#hero h1 {
    color: midnightblue;
    font-size: 30px;
    font-family: "Aclonica", sans-serif;
}

#hero .cta-button {
    text-decoration: none;
    padding-left: 5vw;
    background-color: #c6cbec;
    max-width: 100px;
    padding: 8px;
    text-align: center;
    color: midnightblue;
}

#hero .cta-button:hover {
    background-color: #7988d2;
}

/* SPOTLIGHT*/

#spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

#spotlight img {
    width: 300px;
    object-fit: cover;
    background-color: #c6cbec;
    padding: 12px;
}

#spotlight a {
    text-decoration: none;
    color: midnightblue;
}

#spotlight h3 {
    color: midnightblue;
    margin-bottom: 8px;
}

#spotlight .cta-button {
    color: midnightblue;
    background: #c6cbec;
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    margin-top: 12px;
}

#spotlight .cta-button:hover {
    background-color: #7988d2;
    color: aliceblue;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    margin: 0px 8vw 24px;
    gap: 24px;
}

#gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #c6cbec;
    padding: 8px;

}

/* CARDS */

.cards-container,
#categories {
    display: grid;
    gap: 24px;
    padding: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h2 {
    text-align: center;
    color: midnightblue;
    font-family: "Aclonica", sans-serif;
    margin-top: 36px;
    margin-bottom: 0px;
}

.card { 
    background-color: #c6cbec;
    padding: 18px 12px;
    flex: 1;
    text-align: center;
}

.card img {
    width: 100%;
    height: 205px;
    object-fit: cover;
    margin-bottom: 18px;
}

.card a {
    text-decoration: none;
    color: midnightblue;
    background-color: aliceblue;
    padding: 8px;

}

.card a:hover {
    background-color: #7988d2;
    color: aliceblue;
}  

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.category-card a {
    text-decoration: none;
    padding: 8px;
    margin: 16px;
    width: 100px;
    text-align: center;
    color: midnightblue;
    background-color: #c6cbec;
}

.category-card a:hover {
    background-color: #7988d2;
    color: aliceblue;
}

.category-card img {
    border-radius: 50%;
    width: 100%;
    height: 205px;
    object-fit: cover;
    background-color: #c6cbec;
    padding: 8px;
}

/* FOOTER */
#footer {
    background: #a0aadf;
    padding: 24px;
}

#footer a {
    text-decoration: none;
    color: midnightblue;
}

#footer a:hover {
    color: aliceblue;
}

#footer-navbar {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: "Amaranth", sans-serif;
}

#footer-columns-navbar {
    display: flex;
    margin: 0px auto;
    padding: 12px 0px;
    display: flex;
    justify-content: space-around;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}

/* MEDIA BREAKPOINT */

@media screen and (max-width: 800px) and (min-width: 575px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .category-card {
        padding: 12px;
    }

    #categories {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
    }

    #bottom-nav {
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    #bottom-nav a {
        padding: 8px;
    }

    .image-container img {
        width: 200px;
        height: 30vh;
    }

    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 24px;
    }
}

@media screen and (max-width: 575px) and (min-width: 401px) {

    #top-nav a {
        font-size: 16px;
        padding: 0px 12px;
    }

    #top-nav {
        display: grid;
        margin-left: auto;
        justify-content: center;
    }

    #top-nav #logo {
        margin-right: 0px;
        padding-left: 0px;
    }

    #bottom-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #hero h1 {
        font-size: 24px;
    }

    #hero {
        height: 40vh;
    }

    #categories {
        grid-template-columns: 1fr 1fr;
    }

    .cards-container {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        width: 100%;
        margin: 0px auto;
    }

    .card img {
        height: 200px;
    }

    .category-card {
        padding: 12px;
    }

    #gallery {
        margin: 24px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {

    #bottom-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #bottom-nav a {
        padding: 8px;
    }

    #categories {
        grid-template-columns: 1fr 1fr;
    }

    .cards-container {
        grid-template-columns: 1fr 1fr;
    }

    .card img,
    #categories img{
        height: 150px;
        width: 150px;
    }

    #gallery {
        grid-template-columns: 1fr 1fr;
    }
}