* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/waves.jpg");
    height: 100vh;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#hero-1 h2 {
    font-size: 7vw;
    margin-bottom: 2vh;
    margin-right: 5vw;
    color: #0da0b7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero-1 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero-1 a {
    font-size: 2vw;
    display: inline-block;
    background-color: #0da0b7;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border: solid;
    border-radius: 50%;
    margin: 3vh 6vw 20vw 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero-1 a:hover {
    background-color: white;
    color: #0da0b7;
}

#hero-2 {
    background-image: url("../images/plane.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   
}

#hero-2 h2 {
    font-size: 4vw;
    color: white;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero-2 h3 {
    font-size: 2vw;
    color: white;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#hero-2 a {
    font-size: 2vw;
    display: inline-block;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 6vh;
    border: solid;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero-2 a:hover {
    background-color: rgb(17, 70, 88);
}

#hero-3 {
    background-image: url("../images/stars-2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top-center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-3-content {
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 12vh;
}

#hero-3 h1 {
    font-size: 8vh;
}

#hero-3 h4 {
    font-size: 5vh;
    margin-bottom: 8vh;
}

#hero-3 a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    background-color: black;
    border: solid 1px white;
    padding: 12px 24px;
    border-radius: 15px;
}

#hero-3 a:hover {
    background-color: darkslateblue;
}