* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(34, 34, 34);
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    grid-template-areas:
        "header header header" 
        "column-1 column-2 column-3";
}

#header {
    grid-area: header;
    text-align: center;
}

#sidebar-left {
    grid-area: column-1;
    padding: 24px;
}

#main {
    grid-area: column-2;
    padding: 24px;
}

#sidebar-right {
    display: flex;
    flex-direction: column;
    grid-area: column-3;
    padding: 24px;
    color: lightgray;
    text-align: center;
}

/* Header Styles */
#header h1 {
    padding: 24px 0px 0px;
}

#header a {
    text-decoration: none;
    background-color: mediumaquamarine;
    color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 55px;
}

/* Main Content Styles */
#main h2 {
    color: mediumaquamarine;
    padding-left: 12px;
}

.product {
    color: lightgray;
    padding: 12px;
}

#price b {
    font-size: xx-large;
}

#price-container {
    display: flex;
    align-items: baseline
}

#price {
    margin-bottom: 24px;
    flex: 1;
}

#buttons {
    flex: 10;
}

#buttons ul {
    padding: 10px 30px 8px;
    margin: 0px;
    list-style-type: none;
}

#buttons a {
    display: block;
    color: #111111;
    background-color: mediumaquamarine;
    padding: 12px;
    margin: 24px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

#buttons a:hover {
    background-color: darkcyan;
    color: white;
}

/* Sidebar Styles */
.other {
    border: 3px solid mediumaquamarine;
    padding: 0px 16px 16px;
    margin: 14px 14px 24px;
}

.seller-info {
    border: 3px solid mediumaquamarine;
    padding: 0px 16px 16px;
    margin: 24px 14px;
    text-align: center;
}

#seller-pic {
    width: 100%;
}

#sidebar-right ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

#sidebar-right a {
    color: lightgray;
    display: block;
    padding: 10px;
}

#sidebar-right a:hover {
   color: mediumaquamarine;
}

/* Image Style */

#product-image {
    background-color: mediumaquamarine;
    padding: 5px;
    width: 100%;
}
