@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: #f1b98a;
}

/* LAYOUT */

#layout {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}

/* NAVBAR */

#navbar {
    display: flex;
    align-items: center;
    background: #f1b98a;
}

#navbar a {
    padding: 8px 30px;
    text-decoration: none;
    color: #884c30;
    font-size: 20px;
    font-family: "Amaranth", sans-serif;
}

#navbar a:hover {
    color: #3e7c3c
}

#navbar #logo {
    margin-right: auto;
    margin-top: 4px;
}

#navbar #logo img {
    width: 80px;
}

#navbar .cta-button {
    background-color: #884c30;
    color: #c6ddbc;
    border-radius: 50px;
    padding: 14px;
    min-width: 100px;
    text-align: center;
    margin-right: 36px;
    margin-left: auto;
}

#navbar .cta-button:hover {
    background-color: #3e7c3c;
    color: #c6ddbc;
}


#navbar-top {
    display: flex;
    justify-content: center;
    font-family: "Amaranth", sans-serif;
    background: #884c30;
    color: #c6ddbc;
}

#navbar-top p {
    margin: 10px;
    font-size: 16px;
}

/* HERO */

#hero {
    background-image: url(../images/pizza-hero.jpg);
    height: 60vh;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h1 {
    color: #c6ddbc;
    font-family: "Oleo Script", system-ui;
    font-size: 36px;
    margin-left: 7vw;
    margin-top: 0px;
}

#hero a {
    color: #c6ddbc;
    background: #3e7c3c;
    border-radius: 50px;
    text-decoration: none;
    padding: 20px;
    margin-left: 6vw;
    font-family: "Amaranth", sans-serif;
    font-size: 24px;
}

#hero a:hover {
    background-color: #884c30;
    color: #c6ddbc;
}

/* HOME PICS */

#home-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 18px;
    gap: 18px;

}

#home-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */

#footer {
    background: #884c30;
    padding: 24px;
}

#footer a {
    text-decoration: none;
    color: #f1b98a;
    font-family: "Amaranth", sans-serif;
}

#footer a:hover {
    color: #3e7c3c;
}

#footer-navbar {
    margin: 0px auto;
    display: flex;
    justify-content: flex-end;
    color: #c6ddbc;
}

#footer-columns-navbar {
    display: flex;
    margin: 0px auto;
    padding: 12px 0px;
    display: flex;
    justify-content: space-around;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}

/* MENU - FEATURED */

#featured-section {
    padding: 7vw;
    margin: 0px;
    background: #884c30;
}

#featured {
    display: flex;
    align-items: center;
    margin: 24px;
    height: 18vh;
    gap: 48px;
}

#featured .image-container {
    flex: 1;
}

#featured .text-container {
    flex: 1;
    margin-bottom: 36px;
}

#featured .image-container img {
    width: 100%;
}

#featured .text-container h1 {
    font-size: 36px;
    color: #c6ddbc;
    font-family: "Oleo Script", system-ui;
}

#featured .text-container p {
    font-family: "Amaranth", sans-serif;
    font-size: 20px;
    color: #c6ddbc;
    margin-bottom: 7vh;
}

#featured a {
    color: #c6ddbc;
    background: #3e7c3c;
    border-radius: 50px;
    text-decoration: none;
    padding: 18px;
    font-family: "Amaranth", sans-serif;
    font-size: 18px;
}


/* MENU - CARDS */

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    gap: 24px;
}

#menu-cards h1 {
    font-family: "Oleo Script", system-ui;
    color: #884c30;
    margin-bottom: 0px;
    margin-top: 28px;
}
.card {
    flex: 1;
    background-color: #884c30;
    text-align: center;
    color: #f1b98a;
    font-family: "Amaranth", sans-serif;
    padding: 18px;
}

.card h2 {
    margin: 8px 0px 16px;
    font-size: 20px;
    font-family: "Amaranth", sans-serif;
    color: #c6ddbc;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover
}


/* TABLET BREAKPOINT */
@media screen and (max-width: 800px) and (min-width: 501px) {
    #navbar {
        justify-content: space-between;
    }
    
    #navbar a {
        font-size: 18px;
        padding: 8px 12px;
    }

    #navbar .cta-button {
        margin-right: 12px;
        min-width: 50px;
    }

    #navbar #logo img {
        width: 70px
    }

    #hero h1 {
        font-size: 26px;
        margin-left: 6vw;
    }

    #hero a {
        font-size: 26px;
        margin-left: 5vw;
    }

    .card img {
        height: 150px;
    }

    .card-container {
        flex-wrap: wrap;
    }

    #featured-section {
        padding: 24px;
    }
    
    #featured {
        height: 24vh;
    }

    #featured .image-container img {
        height: 200px;
        object-fit: cover;
    }
    
    #featured .text-container {
        margin-bottom: 40px;
    }
    
    #featured .text-container h1 {
        font-size: 26px;
    }
    
    #featured .text-container p {
        font-size: 16px;
        margin-bottom: 36px;
    }
    
    #featured a {
        padding: 16px;
        font-size: 16px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 450px;
    }

    .card img {
        height: 250px;
        width: 400px;
    }


}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 500px) {
    
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar a {
        font-size: 18px;
    }
    #navbar #logo {
        margin-right: 0px;
    }

    #navbar .cta-button {
        margin: 12px 0px 24px
        
    }

    #hero {
        height: 50vh;
    }

    #hero h1 {
        font-size: 24px;
    }

    #hero a {
        font-size: 20px;
    }

    #home-gallery {
        grid-template-columns: 1fr 1fr;
    }

    #footer-columns-navbar {
        flex-direction: column;
    }

    #footer-navbar {
        justify-content: center;
    }

    #footer a {
        font-size: 16px;
    }

    #featured {
        height: 20vh;
    }

    #featured h1 {
        font-size: 16px;
    }

    .card-container {
        flex-direction: column;
    }

}