/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
#farmers-market {
    padding: 24px;
    margin: 24px;
}

#denali {
    padding: 24px;
    margin: 24px;
}

#spring-bash {
    padding: 24px;
    margin: 24px;
}