@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/paws.jpg);
    height: 100vh;
    background-size: cover;
}

/* NAVBAR */

.navbar {
    background: rgb(250, 168, 163);
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: rgb(146, 62, 69);
    padding: 20px;
    display: inline-block;
}

.navbar a:hover {
    color: rgb(250, 168, 163);
    background: rgb(146, 62, 69);
}

.navbar #logo {
    font-size: 30px;
    font-weight: bold;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* DROPDOWN MENU */

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(250, 168, 163);
    width: 100%;
    min-width: 100px;
}

.navbar .dropdown-menu a:hover {
    background-color: rgb(146, 62, 69);
}

/* HERO */

#hero {
    background-image: url(../images/kitty-hero.jpg);
    height: 570px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
}

#hero h1 {
    font-size: 36px;
    color: rgb(250, 168, 163);
    margin-right: auto;
    padding: 36px;
    font-family: "Indie Flower", cursive;
    
}

/* LAYOUT */

.single-column {
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.adopt-me {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(250, 168, 163);
    box-shadow: 4px 4px 10px rgb(146, 62, 69);
    border-radius: 25px;
    padding: 28px;
    margin-top: 40px;
}

.adopt-me img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.adopt-me h1 {
    margin-top: 12px;
    color: rgb(146, 62, 69);
}
.adopt-me p {
    margin: 24px 12px 0px;
    color: rgb(146, 62, 69);
}

/* TABELT BREAKPOINT */

@media screen and (max-width: 600px) {
    
    .navbar a {
        padding: 12px;
    }

    .navbar #logo {
        font-size: 26px;
    }

    .single-column {
        min-width: 460px;
        max-width: 800px;
    } 

    .adopt-me {
        width: 400px;
    }
    
    .adopt-me h1 {
        font-size: 28px;
    }
    
}